/* -------- RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #F5F6FC;
    color: #1E1E1E;
    padding: 40px 20px;
}


/* -------- LOGO + HEADER -------- */
header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

header img {
    height: 30px;
}


/* -------- BOTÃO VOLTAR -------- */
.voltar {
    color: #C73774;
    font-size: 15px;
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}


/* -------- TÍTULO -------- */
h1 {
    font-size: 26px;
    margin-bottom: 25px;
}


/* -------- INPUT E BOTÃO -------- */
.container-input {
    display: flex;
    gap: 15px;
    margin-bottom: 35px;
}

#input-text {
    flex: 1;
    padding: 14px;
    border-radius: 10px;
    border: none;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    outline: none;
    font-size: 15px;
}

.btn {
    background: #C73774;
    border: none;
    color: white;
    padding: 14px 22px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
}

.btn:hover {
    background: #b02f66;
}


/* -------- LISTA -------- */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    background: #fff;
    padding: 18px 22px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.06);
}


/* checkbox */
.item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}


/* texto + checkbox */
.item-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* ícone de lixeira */
.item i {
    font-size: 18px;
    color: #8a8a8a;
    cursor: pointer;
}

.item i:hover {
    color: #C73774;
}


/* -------- ALERTA -------- */
.alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ee0505;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.alert.show {
    opacity: 1;
    pointer-events: auto;
}
span{
    font-size: 30px;
    margin-left: 5px;
}